# Dependencies
node_modules/

# Database
database/*.db
database/*.db-wal
database/*.db-shm

# Environment
.env

# Logs
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build
dist/
build/
